.footer{
    /* background-color: #ff6611; */
    min-height: 170px;
    color: white;
    background-color: #131321;
    opacity: 0.8;
    background-image:  radial-gradient(#898989 1.05px, transparent 1.05px), radial-gradient(#898989 1.05px, #131321 1.05px);
    background-size: 42px 42px;
    background-position: 0 0,21px 21px;
}