@import "../../App";

.offcanvas-body .list-group{
    list-style-type: none;
}
.offcanvas-body .list-group a{
    border-top: none;
    border-left: none;
    border-right: none;
}
.offcanvas-body a{
    color: $link-gray;
    &:hover {
        color: $link-dark-gray;
    }
}
.offcanvas-body a.active{
    background: black;
}