.navigation-style > li > a{
    text-decoration: none;
    color: #000;
    /**/text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: 0.15em;    
    display: inline-block;
    padding: 10px 5px;
    position: relative;
}
.navigation-style > li > a.active{
    font-weight: 600;
}
.navigation-style > li > a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    /*left: 50%;*/
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navigation-style > li > a:hover:after { 
    width: 100%; 
    /*left: 0; */
    left: 0;
}

.navigation-style { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    /*width: 600px;*/
    text-align: center;
}
.navigation-style > li {
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
}

/*@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
*/