$base-color: #c6538c;
$link-gray: #888;
$link-dark-gray: #666;
//$border-dark: rgba($base-color, 0.88);

.text-black{
    color: black;
}
.link-black{
    color: black;
    &:hover{
        color: black;
    }
}

.App-logo{
    height: 150px;
    border: $base-color solid 1px;
}
.text-gray{
    color:  $link-gray;
}
.link-gray{
    color: $link-gray;
    &:hover{
        color: $link-gray;
    }
}
.link-btn-more{
    background: $link-dark-gray;
    color: white;
    border-radius: 15px;
    padding: 4px 20px;
    font-size: 14px;
    border: $link-dark-gray solid 1px;
    text-decoration: none;
    &:hover{
        background: white;
        color: $link-dark-gray;
    }
}
